[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
tensorflow = "*"
keras = "*"
pillow = "*"
pyqt5 = "==5.13.0"

[dev-packages]

[requires]
python_version = "3.8"
